@using CarFinder.Models;
@model IEnumerable<Car>

@*@using BugTracker.Models;
@model IEnumerable<BugTracker.Models.ApplicationUser>*@
@{
    ViewBag.Title = "CarsByYMM";
}

<h2>CarsByYMM</h2>

@using (Html.BeginForm("CarsByYMM", "CarsByYMM", FormMethod.Post)) {   
    <div>Years</div>   
    @Html.DropDownList("year")
    @Html.DropDownList("yearMake")
    
    <button>submit</button>
}