body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.user-header-row {
    margin-bottom:2em;
    border-bottom: 1px solid #eee;
}

.user-row:nth-child(even) {
    background-color:aliceblue;
}

#SelectedUsers{
    min-height:110px;
    max-height: 150px;
}

textarea.ticket-textarea, input.ticket-input, select.ticket-select, input#attachmentEditDescriptionId, input#attachmentEditUrl, input#fileUploadEdit,
input#attachmentDeleteDescription,input#attachmentDeleteUrl, textarea#commentUpdateBodyId, textarea#commentRemoveBodyId{
    max-width:100%;
}

textarea.attachmentDescription, input.attachmentFileUrl {
    max-width:100%;
    /*min-height:100px;*/
}

.attachmentHeight {
    min-height:121px;
}

input.attachmentFileUrl{
    border:0;
}

.display-for-padding {
    padding-top:7px;
}

.subText {
    font-size: .75em;
}

.modal.in .modal-dialog {
    background-color:#fff;
    margin-top: 40px;
}