<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Portfolio-20150929091133.mdf;Initial Catalog=aspnet-Portfolio-20150929091133;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Server=coderfoundry.cloudapp.net,55555;Database=bpayne-carfinder;User ID=bpayne;Password=Bpayne1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>
